<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to <%= genre.name %>
    </p>

    <a href='<%=genre.url+"/delete"%>'>Delete</a>

    <a href="./list">go back to gender list</a>

</body>

</html>