<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>Links</p>
    <ul>
      <li><a href="/inventory/genre/list">Genres</a></li>
      <li><a href="/inventory/artist/list">Artists</a></li>
      <li><a href="/inventory/instrument/list">Instruments</a></li>
    </ul>

  </body>
</html>
